<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdn.therapydog">

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HumanHomeActivity"
            android:label="@string/title_activity_human_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CanineHomeActivity"
            android:label="@string/title_activity_canine_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CompletedActivity"
            android:label="@string/title_activity_completed"
            android:parentActivityName=".Activities.CanineHomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tdn.therapydog.Activities.CanineHomeActivity" />
        </activity>
    </application>

</manifest>